@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-poppins);
}

/* Custom Utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}
